<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"
      rel="stylesheet" />
<link href="../static/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet"/>
<title>Crear Visita</title>
</head>
<body>
    <div th:insert="./menu.html :: div"> </div>
<div class="container">
  <div class="row">
    <div class="col">
       <form th:action="@{/agregarVisitas}" method="post" th:object="${visita}">
		<h1>Formulario de visitas:</h1>
	    <label for="cliente_id"  class="form-label">Cliente ID</label> 
	        <input class="form-control" type="number" name="cliente_id" th:field="*{cliente_id}"/>
	        <br>

	     <label for="fecha_visita" class="form-label">Fecha de visita</label> 
     	    <input class="form-control" type="text" name="nombre" th:field="*{fecha_visita}"/>
	        <br>

	    <label for="detalle"  class="form-label">Detalle</label> 
	        <input class="form-control" type="text" name="tipo" th:field="*{detalle}"/>
	        <br>
	        
	    <label for="profesional_id"  class="form-label">Profesional ID</label> 
	        <input class="form-control" type="number" name="profesional_id" th:field="*{profesional_id}"/>
	        <br>

      <input type="submit" class="btn btn-primary" name="guardar" value="Guardar" />
     </form>
  </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

