<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"
      rel="stylesheet" />
<link href="../static/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet"/>
<title>Crear Capacitaciones</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
       <form th:action="@{agregarCapacitaciones}" method="post" th:object="${capacitacion}">
	     <label for="nombre" class="form-label">Nombre</label> 
     	    <input class="form-control" type="text" name="nombre" th:field="*{nombre}"/>
	        <br>
	    <label for="detalle"  class="form-label">Detalle</label> 
	        <input class="form-control" type="text" name="detalle" th:field="*{detalle}"/>
	        <br>
      <input type="submit" class="btn btn-primary" name="guardar" value="Guardar" />
     </form>
  </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

