<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"
	rel="stylesheet" />

<link href="../static/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet"/>
<title>Listar Capacitaciones</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<div
					th:if="${listaCapacitaciones !=null and !listaCapacitaciones.empty}">
					<table class="table table-striped table-hover">
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Detalle</th>
						</tr>
						<tr th:each="capacitacion : ${listaCapacitaciones}">
							<td th:text="${capacitacion.id}"></td>
							<td th:text="${capacitacion.nombre}"></td>
							<td th:text="${capacitacion.detalle}"></td>
						</tr>
					</table>
				</div>
				<div
					th:if="${listaCapacitaciones == null or listaCapacitaciones.empty}">
					<p>La lista está vacía</p>
				</div>
			</div>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>